	<link rel='icon' href="__PUBLIC__/images/index.ico" />
	<!-- 移动端适应 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery -->
	<script src="__PUBLIC__/js/jQuery/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap -->
	<link href="__PUBLIC__/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<script src="__PUBLIC__/js/bootstrap/bootstrap.min.js"></script>
	<!-- 字体图标 -->
	<link href="__PUBLIC__/css/awesome/font-awesome.css" rel="stylesheet" />
	<!-- k360 -->
	<script src="__PUBLIC__/js/k360/k360-scroll-bar.js"></script>
	<script src="__PUBLIC__/js/k360/k360-http.js"></script>
	<script src="__PUBLIC__/js/k360/k360-popover.js"></script>

	<!-- 当前页面css -->
	<link href="__PUBLIC__/css/base/page.css" rel="stylesheet" />