<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta charset="utf-8" />
	<css root="__PUBLIC__/css">["p-Index/main"]</css>
	<link href="__PUBLIC__/css/awesome/font-awesome.css" rel="stylesheet" />
	<script src="__PUBLIC__/js/k360/k360-tag.js"></script>
</head>
<body>

	<div class="body-nav">
		<div class="item active"><i class="fa fa-folder-open"></i>我的文件</div>
		<div class="item"><i class="fa fa-cogs"></i>系统配置</div>
		<div class="item"><i class="fa fa-cogs"></i>系统配置</div>
		<div style="clear:both"></div>
	</div>

	<div class="main">
		主页
	</div>

	<div class="user">
		<iframe width="100%" height="100%" frameborder="0" src="__MODULE__/User/pUserCtrl"></iframe>
	</div>


</body>
</html>
