<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta charset="utf-8" />
	<include file="base/headGeneral" />

	<!-- 当前页面js -->
	<script src="__PUBLIC__/js/base/k360-bt-page.js"></script>
	<script src="__PUBLIC__/js/base/func.js"></script>
	<script src="__PUBLIC__/js/base/k360-show-table.js"></script>
	<script src="../../../../Public/js/base/k360-bt-page.js"></script>
	<script src="../../../../Public/js/base/func.js"></script>
	<script src="../../../../Public/js/base/k360-show-table.js"></script>



	<script src="../../../../Public/js/k360/k360-http.js"></script>
	<script src="../../../../Public/js/k360/k360-popover.js"></script>
	<script src="../../../../Public/js/k360/k360-scroll-bar.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="row header">
		<div class="col-md-12">
			<div class="fa fa-folder-open icon"></div>
			<span class="title">资料管理</span>
		</div>
	</div>

	<!-- 顶部操作 -->
	<div class="row handles margin-top-20">
		<div class="col-md-6">
			<button class="handle-item btn btn-danger"><i class="fa fa-upload"></i>上传文档</button>
			<div class="item-group">
				<select class="form-control" style="width:150px; border-right:none" id="essayGrade">
					<option value="user">个人文件</option>
					<option value="user">课程文件</option>
					<option value="user">公共文件</option>
					<option value="user">已分享文件</option>
				</select>
				<button class="btn btn-success btn-group" id="infoViewBtn">过滤文件</button>
				<div class="float-clear"></div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="handle-item pull-right">
				<form class="item-group" id="searchCourseForm">
					<input type="text" name="key" class="form-control" placeholder="关键字：文件名" style="width:250px">
					<button type="submit" class="btn btn-primary btn-group"><i class="fa fa-search">&nbsp;</i>检索</button>
					<div class="float-clear"></div>
				</form>
			</div>
			<div class="float-clear"></div>
		</div>
	</div>

	<!-- 主体 -->
	<div class="row main margin-top-20">
		<div class="col-md-12">
			<table class="table table-bordered table-hover" id="mainShowerTable">
				<thead>
					<tr>
						<th>文件名</th>
						<th>创建人</th>
						<th>创建时间</th>
						<th>tag</th>
						<th width="130">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr name="cloned">
						<td name="name">xxxx</td>
						<td name="teachername">xxxx</td>
						<td name="time">xxxx</td>
						<td name="tag">xxxx</td>
						<td>
							<button callback="onDeleteFile" class="btn btn-sm btn-danger fa fa-trash" title="删除文件"></button>
							<button callback="onRenameFile" class="btn btn-sm btn-warning fa fa-send" title="文件重命名"></button>
							<button callback="onDownload" class="btn btn-sm btn-success fa fa-send" title="下载"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="dataLoading"><i class="fa fa-spinner fa-spin"></i>正在加载..</div>
		</div>
	</div>

	<!-- 分页控件 -->
	<div class="row page margin-top-20">
		<div class="col-md-12" style="text-align:center">
			<div style="display:inline-block">
				<button class="btn btn-success goto-last">上一页</button>
				<button class="btn btn-success goto-next">下一页</button>
				<div class="item-group">
					<input type="text" class="form-control goto-input" value="1" style="width:50px; display:inline-block" />
					<button class="btn btn-primary goto-button">&nbsp;跳转&nbsp;</button>
				</div>
			</div>
			<div style="display:inline-block; margin-left:30px" class="k-page-info">
				共<span class="data-num"> - </span>条数据，共<span class="page-num"> - </span>页，第<span class="page-now"> - </span>页
			</div>
		</div>
	</div>
</body>
</html>
